In [1]:
import yfinance as yf

tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="1y")

tesla_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26 00:00:00-05:00,254.490005,257.970001,252.910004,256.609985,86892400,0.0,0.0
2023-12-27 00:00:00-05:00,258.350006,263.339996,257.519989,261.440002,106494400,0.0,0.0
2023-12-28 00:00:00-05:00,263.660004,265.130005,252.710007,253.179993,113619900,0.0,0.0
2023-12-29 00:00:00-05:00,255.100006,255.190002,247.429993,248.479996,100615300,0.0,0.0
2024-01-02 00:00:00-05:00,250.080002,251.250000,244.410004,248.419998,104654200,0.0,0.0

In [14]:

# Define the URL to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"  # Replace with actual URL

import pandas as pd
read_html_pandas_data = pd.read_html(url)
Tesla_reveue = read_html_pandas_data[0]
Tesla_reveue

,Tesla Annual Revenue (Millions of US $),Tesla Annual Revenue (Millions of US $).1
0,2021,"$53,823"
1,2020,"$31,536"
2,2019,"$24,578"
3,2018,"$21,461"
4,2017,"$11,759"
5,2016,"$7,000"
6,2015,"$4,046"
7,2014,"$3,198"
8,2013,"$2,013"
9,2012,$413
10,2011,$204
11,2010,$117
12,2009,$112

In [6]:
gamestop = yf.Ticker("GME")
gamestop_data = gamestop.history(period="1y")

gamestop_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-26 00:00:00-05:00,16.980000,17.410000,16.820000,17.360001,3079600,0.0,0.0
2023-12-27 00:00:00-05:00,17.430000,18.370001,17.370001,18.370001,4800100,0.0,0.0
2023-12-28 00:00:00-05:00,18.049999,18.320000,17.850000,18.070000,3574800,0.0,0.0
2023-12-29 00:00:00-05:00,18.040001,18.160000,17.459999,17.530001,4524200,0.0,0.0
2024-01-02 00:00:00-05:00,17.250000,17.600000,16.580000,16.670000,4428000,0.0,0.0

In [12]:
import pandas as pd
read_html_pandas_data = pd.read_html(url)
gamestop_reveue = read_html_pandas_data[0]
gamestop_reveue

,GameStop Annual Revenue (Millions of US $),GameStop Annual Revenue (Millions of US $).1
0,2020,"$6,466"
1,2019,"$8,285"
2,2018,"$8,547"
3,2017,"$7,965"
4,2016,"$9,364"
5,2015,"$9,296"
6,2014,"$9,040"
7,2013,"$8,887"
8,2012,"$9,551"
9,2011,"$9,474"
10,2010,"$9,078"
11,2009,"$8,806"
12,2008,"$7,094"
13,2007,"$5,319"
14,2006,"$3,092"
15,2005,"$1,843"

In [16]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [26]:
Tesla_reveue["Tesla Annual Revenue (Millions of US $).1"] = Tesla_reveue['Tesla Annual Revenue (Millions of US $).1'].str.replace(',|\$',"")
Tesla_reveue.dropna(inplace=True)

tesla_revenue = Tesla_reveue[Tesla_reveue['Tesla Annual Revenue (Millions of US $).1'] != ""]

<>:1: SyntaxWarning:

invalid escape sequence '\$'

<>:1: SyntaxWarning:

invalid escape sequence '\$'

C:\Users\Garvit.gupta\AppData\Local\Temp\ipykernel_25032\1994036373.py:1: SyntaxWarning:

invalid escape sequence '\$'

In [ ]:
make_graph(tesla_data,tesla_revenue,'Tesla')

In [ ]:
gamestop_reveue["GameStop Annual Revenue (Millions of US $).1"] = gamestop_reveue['GameStop Annual Revenue (Millions of US $).1'].str.replace(',|\$',"")
gamestop_reveue.dropna(inplace=True)

gamestop_data_revenue = gamestop_reveue[gamestop_reveue['GameStop Annual Revenue (Millions of US $).1'] != ""]

In [27]:
make_graph(gamestop_data,gamestop_data_revenue,'gameStop')

AttributeError: 'DataFrame' object has no attribute 'Date'